name: CI
on:
  push:
    branches:
      - master
    tags-ignore:
      - '**'
    paths:
      - '**/*.ts'
  pull_request: null
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 2
      - name: Pull previous commit
        run: git reset --soft HEAD~1
      - uses: actions/setup-node@v6
        with:
          node-version: latest
      - name: Install dependencies
        run: npm i --save-dev
      - name: Run lint
        run: npm run lint
      - name: Run prettier
        if: ${{ github.event_name != 'pull_request' }}
        run: npm run prettier
      - name: Run tests
        run: node scripts/coverage.mjs
      - name: Upload coverage results to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Upload test results to Codecov
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Import GPG key
        if: ${{ github.event_name != 'pull_request' }}
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.CI_GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.CI_GPG_PASS }}
          git_user_signingkey: true
          git_commit_gpgsign: true
      - name: Commit changes
        if: ${{ github.event_name != 'pull_request' }}
        uses: EndBug/add-and-commit@v9
        with:
          commit: -S
          message: ${{ github.event.head_commit.message }}
          push: --force
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
