name: CI
on:
  push:
    branches:
      - master
    tags-ignore:
      - '**'
    paths:
      - '**/*.ts'
jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          check-latest: true
      - name: Installing dependencies
        run: npm i --save-dev
      - name: Running tests
        run: npm test
      - name: Running ESLint
        run: npx eslint src/**/*.ts
      - name: Running Prettier
        run: npx prettier src/**/*.ts typings.d.ts test.mjs --write
      - name: Commit
        uses: EndBug/add-and-commit@v9
        with:
          message: 'style: prettier'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
