name: Run ESLint, Prettier, and Tests
on:
  push:
    branches:
      - master
    tags-ignore:
      - '**'
    paths:
      - '**/*.ts'
jobs:
  test:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Installing dependencies
        run: npm install --save-dev
      - name: Running ESLint
        run: npx eslint src/**/*.ts --fix
      - name: Running Prettier
          npx prettier **/*.ts --write
      - name: Running tests
        run: npm run test
      - name: Commit
        uses: EndBug/add-and-commit@v9
        with:
          message: 'chore: prettier and lint'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}