name: Publish to NPM
on:
  release:
    types: [created]
  workflow_dispatch: null
permissions:
  id-token: write
  contents: read
jobs:
  publish:
    name: Publish to NPM
    runs-on: ubuntu-latest
    environment: publish
    steps:
      - name: Clone repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: latest
      - name: Install dependencies
        run: npm i --save-dev
      - name: Build
        run: npx tsc
      - name: Publish
        run: npm publish --provenance