name: Run tests and pretty files
on:
  push:
    branches:
      - master
    tags-ignore:
      - '**'
    paths:
      - '**/*.ts'
  pull_request: null
  workflow_dispatch: null
jobs:
  test:
    name: Run tests and pretty files
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 2
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: latest
      - name: Install dependencies
        run: npm i --save-dev
      - name: Run tests
        run: node scripts/coverage.mjs
      - name: Upload coverage results to Codecov
        if: ${{ github.event_name != 'pull_request' }}
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Upload test results to Codecov
        if: ${{ github.event_name != 'pull_request' }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
      - name: Upload coverage results to Codacy
        if: ${{ github.event_name != 'pull_request' }}
        uses: codacy/codacy-coverage-reporter-action@v1
        with:
          coverage-reports: coverage/lcov.info
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
      - name: Lint files
        run: npm run lint
      - name: Pretty files
        if: ${{ github.event_name != 'pull_request' }}
        run: npm run prettier
      - name: Import GPG key
        if: ${{ github.event_name != 'pull_request' }}
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.CI_GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.CI_GPG_PASS }}
          git_user_signingkey: true
          git_commit_gpgsign: true
      - name: Push new commit
        if: ${{ github.event_name == 'workflow_dispatch' }}
        uses: EndBug/add-and-commit@v9
        with:
          committer_name: GitHub Actions
          committer_email: 41898282+github-actions[bot]@users.noreply.github.com
          commit: -S
          message: 'chore: update tio.js from manually invoked CI'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Override HEAD commit
        if: ${{ github.event_name != 'pull_request' && github.event_name != 'workflow_dispatch' }}
        uses: EndBug/add-and-commit@v9
        with:
          committer_name: GitHub Actions
          committer_email: 41898282+github-actions[bot]@users.noreply.github.com
          commit: -S --amend --no-edit --no-reset-author
          message: ${{ github.event.head_commit.message }}
          push: --force-with-lease
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}